<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="/TooLazyToStandUp/Trackpad/Trackpad.css">
    <script src="/TooLazyToStandUp/Trackpad/TrackpadController.js"></script>
    <title>Index</title>
</head>
<body>
    <!--
    <div id="dumbAssBufferForIPhones">
    </div>
        -->
    <div class="border">
        <div id="TextDiv" class="no-copy topContent">
            <form action="UserText" id="UserTextForm">
                <input type="text" id="InputString" name="text">
                <input type="button" id="Enter" value="Enter" />
            </form>
        </div>

        <div>
            <p id="test"></p>
        </div>

        <div id="ButtonDiv" class="no-copy topContent">
            <input type="button" id="BackSpace" value="Backspace" />
            <input type="button" id="ShutDown" value="Shut Down" />
            <input type="button" id="MouseClick" value="Down" />
        </div>

        <div id="TrackPadDiv">
            <canvas id="Trackpad" style="border:2px solid #FFFFFF;" class="no-copy"></canvas>
        </div>
    </div>
</body>
</html>
